<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        body {
            font-family: 'lato', sans-serif;
        }

        .container {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
        }

        h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;
        }

        .responsive-table {
            border-radius: 3px;
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .table-header {
            background-color: #95A5A6;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }

        .table-row {
            background-color: #ffffff;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        }

        .col-1 {
            flex-basis: 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Registro de metricas Panel de control</h2>
        <ul>
            <li class="table-header responsive-table">
                <div class="col col-1">Nombre</div>
                <div class="col col-1">Aplicacion</div>
                <div class="col col-1">Carrera</div>
                <div class="col col-1">Modulo</div>
                <div class="col col-1">Tiempo</div>
            </li>
          data
        </ul>
    </div>
</body>
</html>







